# Alinx AX309 XC6SLX16 FTG256
# ALINX AX309 clone Xilinx Spartan-6 XC6SLX16 (This is AX309 clone So it not XC6SLX9)
#  Copyright (c) 2022 FREE WING,Y.Sakamoto

# ==== Clock inputs (CLK) ====
NET "CLK_50MHZ" TNM_NET = "sys_clk_pin";
NET "CLK_50MHZ" LOC = T8;
NET "CLK_50MHZ" IOSTANDARD = LVCMOS33;
TIMESPEC TS_sys_clk_pin = PERIOD "sys_clk_pin" 50000 KHz;

# ==== Pushbuttons (BTN) ====
NET "BTN_nRESET" LOC = L3;
NET "BTN_nRESET" IOSTANDARD = LVCMOS33;

# ==== RS-232 Serial Ports (RS232) ====
# NET "RXD" LOC = C11 | IOSTANDARD=LVCMOS33;
# NET "TXD" LOC = D12 | IOSTANDARD=LVCMOS33;

# ==== Joypads ====
# NET "NES_JOYPAD_CLK"   LOC = N12 | IOSTANDARD = LVCMOS33;
# NET "NES_JOYPAD_LATCH" LOC = P12 | IOSTANDARD = LVCMOS33;
# NET "NES_JOYPAD_DATA1" LOC = C3 | IOSTANDARD = LVCMOS33;
# NET "NES_JOYPAD_DATA2" LOC = D3 | IOSTANDARD = LVCMOS33;

# ==== VGA Port (VGA) ====
NET "VGA_HSYNC" LOC = M14;
NET "VGA_HSYNC" IOSTANDARD = LVCMOS33;
NET "VGA_VSYNC" LOC = L13;
NET "VGA_VSYNC" IOSTANDARD = LVCMOS33;
NET "VGA_RED[0]" LOC = M12;
NET "VGA_RED[0]" IOSTANDARD = LVCMOS33;
NET "VGA_RED[1]" LOC = L12;
NET "VGA_RED[1]" IOSTANDARD = LVCMOS33;
NET "VGA_RED[2]" LOC = N14;
NET "VGA_RED[2]" IOSTANDARD = LVCMOS33;
NET "VGA_RED[3]" LOC = M13;
NET "VGA_RED[3]" IOSTANDARD = LVCMOS33;
NET "VGA_GREEN[0]" LOC = P9;
NET "VGA_GREEN[0]" IOSTANDARD = LVCMOS33;
NET "VGA_GREEN[1]" LOC = L10;
NET "VGA_GREEN[1]" IOSTANDARD = LVCMOS33;
NET "VGA_GREEN[2]" LOC = M10;
NET "VGA_GREEN[2]" IOSTANDARD = LVCMOS33;
NET "VGA_GREEN[3]" LOC = P11;
NET "VGA_GREEN[3]" IOSTANDARD = LVCMOS33;
NET "VGA_BLUE[0]" LOC = M7;
NET "VGA_BLUE[0]" IOSTANDARD = LVCMOS33;
NET "VGA_BLUE[1]" LOC = P8;
NET "VGA_BLUE[1]" IOSTANDARD = LVCMOS33;
NET "VGA_BLUE[2]" LOC = N8;
NET "VGA_BLUE[2]" IOSTANDARD = LVCMOS33;
NET "VGA_BLUE[3]" LOC = L7;
NET "VGA_BLUE[3]" IOSTANDARD = LVCMOS33;

# ==== Audio ====
# NET "AUDIO" LOC = "J11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6;
# NET "AUDIO" LOC = "J11" | IOSTANDARD = LVCMOS33;
NET "AUDIO_L" LOC = M5;
NET "AUDIO_R" LOC = N4;
NET "AUDIO_L" IOSTANDARD = LVCMOS33;
NET "AUDIO_R" IOSTANDARD = LVCMOS33;
NET "AUDIO_L" DRIVE = 12;
NET "AUDIO_R" DRIVE = 12;

# ==== LED ====
#// A
#NET "led[0]" LOC = P4;
#NET "led[0]" IOSTANDARD = LVCMOS33;
#// B
#NET "led[1]" LOC = N5;
#NET "led[1]" IOSTANDARD = LVCMOS33;
#// SELECT
#NET "led[2]" LOC = P5;
#NET "led[2]" IOSTANDARD = LVCMOS33;
#// START
#NET "led[3]" LOC = M6;
#NET "led[3]" IOSTANDARD = LVCMOS33;

# ==== KEY Pin ====
## KEY1
NET "key_in[0]" LOC = C3;
NET "key_in[0]" IOSTANDARD = LVCMOS33;
## KEY2
NET "key_in[1]" LOC = D3;
NET "key_in[1]" IOSTANDARD = LVCMOS33;
## KEY3
NET "key_in[2]" LOC = E4;
NET "key_in[2]" IOSTANDARD = LVCMOS33;
## KEY4
NET "key_in[3]" LOC = E3;
NET "key_in[3]" IOSTANDARD = LVCMOS33;

# ==== USB ====
#NET "usb_dp" LOC = B6;
#NET "usb_dp" IOSTANDARD = LVCMOS33;
#NET "usb_dm" LOC = B5;
#NET "usb_dm" IOSTANDARD = LVCMOS33;

# ==== HEX ====
NET "hex[0]" LOC = D8;
NET "hex[1]" LOC = E8;
NET "hex[2]" LOC = F9;
NET "hex[3]" LOC = F10;
NET "hex[4]" LOC = E10;
NET "hex[5]" LOC = D9;
NET "hex[6]" LOC = P12;
NET "hex[7]" LOC = N12;

NET "hex[7]" IOSTANDARD = LVCMOS33;
NET "hex[6]" IOSTANDARD = LVCMOS33;
NET "hex[5]" IOSTANDARD = LVCMOS33;
NET "hex[4]" IOSTANDARD = LVCMOS33;
NET "hex[3]" IOSTANDARD = LVCMOS33;
NET "hex[2]" IOSTANDARD = LVCMOS33;
NET "hex[1]" IOSTANDARD = LVCMOS33;
NET "hex[0]" IOSTANDARD = LVCMOS33;


# ==== CONTROL ====
NET "SW_COIN" LOC = P6 | IOSTANDARD = LVCMOS33;
NET "SW_START" LOC = N6 | IOSTANDARD = LVCMOS33;
NET "SW_LEFT" LOC = P2 | IOSTANDARD = LVCMOS33;
NET "SW_RIGHT" LOC = M4 | IOSTANDARD = LVCMOS33;
# NET "SW_UP" LOC = R1 | IOSTANDARD = LVCMOS33;
# NET "SW_DOWN" LOC = R2 | IOSTANDARD = LVCMOS33;
NET "SW_FIRE" LOC = T4 | IOSTANDARD = LVCMOS33;

# NET "SW_UP" PULLDOWN;
# NET "SW_DOWN" PULLDOWN;
NET "SW_LEFT" PULLDOWN;
NET "SW_RIGHT" PULLDOWN;
NET "SW_COIN" PULLDOWN;
NET "SW_START" PULLDOWN;
NET "SW_FIRE" PULLDOWN;